* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

header {
  display: flex;
  width: 80%;
  margin: auto;
  height: 10vh;
  align-items: center;
}

.logo-container {
  flex: 1
}

nav {
  flex: 2;
}

.cart {
  flex: 1;
  justify-content: flex-end;
}

.logo {
  font-style: italic;
  font-weight: 400;
  margin: 1rem;
}

.logo-container, .nav-links, .cart {
  display: flex;
}

.nav-links {
  justify-content: space-around;
  list-style: none;
}

.nav-link {
  color: #5f5f59;
  font-size: 1.5rem;
  text-decoration: none;
}